body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-video{
height: 100%;
width: 100%;
background-size: cover;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.background-video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.clockFace{
        color: whitesmoke;
        width: 590px;
        height: 590px;
        border: solid 15px;
        border-radius: 100%;
        position: fixed;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
.hand {
        width: 50%; 
        height: 6px;
        background: whitesmoke; 
        position: absolute;
        top: 50%;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }
